img{max-width:100%;}

.header {
  padding: 15px;
  text-align: center;
  background: #AD102F;
  color: white;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}
body {
  background: white;
  padding-left: 200px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: auto;
  top: 0;
  left: 0;
  background-color: #AD102F;
  overflow-x: hidden;
  padding: 80px 40px 60px 40px;
  text-align: center;
  float: left;
}

.sidenav a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

a {
  color:#ffffff;
}

/* .sidenav a:hover {
  color: #f1f1f1;
} */

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* create a recipe */
.createRecipe {
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 40px
}

.createRecipe h2 {
  text-align: center;
}

#ingredientWrapper {
  position: relative;
}

#ingredientWrapper .buttons {
  position: absolute;
  bottom: 0;
}
.btn-info {
  background-color: #59B7D3;
}
.center-text {
 text-align: center;
}

.blackText {
 color: #000000 
}

/* tab-tab-tab-tab-tabs */
/* Style the tab */
.tab {
 overflow: scroll;
 border: 1px solid #ccc;
 background-color: #5c9bae;
 font-weight: bold;
}

/* Style the buttons inside the tab */
.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 font-size: 17px;
 font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
 background-color: #83b3c2;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #59B7D3;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.recipeView {
  border: 1px solid #000000;
}

.recipeView.h1 {
  font-family: 'Poppins', sans-serif;
}

.tabcontent.h3 {
  font-family: 'Poppins', sans-serif;
}

.profileBox {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
}

.profilePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width: 100%;
}

.search-page{margin-top:20px;}
.search-page h2{text-align:center; margin-bottom:30px;}
.search-toggle{text-align:center;}
.search-input{text-align:center; margin-top:20px;}
.search-input .btn{color:#fff; background-color:#AD102F; border-color:#AD1};
.search-input .btn:hover{background-color:#dc3545;}
.search-input input{height:38px; vertical-align:middle;}

.sidenav form button{background: none;
  border: none;
  width:100%;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}